songs {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

song {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

title {
    display: block;
    font-size: 40px;
}

artist {
    display: block;
    font-size: 25px;
}

genre {
    display: block;
    font-size: 20px;
    font-style: italic;
}

year {
    display: block;
    font-size: 20px;
    color: red;
}

